.summary-item-container {
    display: flex;
    max-width: 250px;
    margin: 15px 7px;
    align-items: center;
}

.summary-item-container .teams-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.summary-item-container .teams-container h4{
    margin: 0 7px;
}