.games-register-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.games-register-container .values-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-register-container .values-container .input-container {
    margin: 0 5px
}

.games-register-container .values-container .input-container input {
    outline: none;
    border: 1px solid #ccc;
    margin-left: 5  px;
}