.summary-infos-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 15px;
}

.summary-infos-container h4 {
    margin: 10px 0;
}

.summary-infos-container .list-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.summary-infos-container .list-item li {
    display: flex;
}
.summary-infos-container .list-item p {
    margin: 7px 0;
}